<form (ngSubmit)="onSubmit(form)" #form="ngForm">
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Title</span>
  </div>
  <input type="text" name="title" ngModel class="form-control">
</div>

<!-- Mot de passe -->
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Content</span>
  </div>
  <input type="text" name="content" ngModel class="form-control">
</div>

<!-- Bouton de connexion -->
<button class="btn btn-success" type="submit">Ajouter un Post</button>
</form>
