<form class="navbar-form navbar-left" role="search">
  <div class="form-group">
    <input type="text" #search (keypress)="filterPost(search)" class="form-control" placeholder="Search">
  </div>
</form>
