<div #self [ngClass]="{'list-group-item':true, 'list-group-item-success': 0 < loveIts,'list-group-item-danger': 0 > loveIts }">
  <h1>{{ title }}</h1>
  <div class="date"> Posté le {{ created | date:"fullDate" }} {{ created | date:"shortTime" }} </div>
  <div class="content">{{ content }}</div>
  <br>
  <button class="btn btn-danger" (click)="removePost(self)">Delete this Post</button>
  <button type="button" class="btn btn-success" (click)="LoveIts()">Love it</button>
  <button type="button" class="btn btn-danger" (click)="NotLoveIts()">C'est naze au max</button>
</div>